<%- include("plantilla/cabezerah",{titulo:"Pagina de inicio"}) %>

    <h1><%= titulo %></h1>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="router/sweetAlert.js" ></script>
</body>
<script src="sweetalert2.all.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="router/sweetAlert.js" ></script>
</html>